{% extends "AppMaquina/padre.html" %}
{% load static %}

{% block titulo %}
<h1>Editar Usuario {{ nombreusuario }}</h1>
{% endblock %}

{% block algo %}
<h1 class="mb-5">Editar Usuario: {{ nombreusuario }}</h1>
{% endblock %}

{% block vaelformulario %}
<h2 class="text-white mb-5">Editar</h2>
<form action="{% url 'editarPerfil' %}" method="POST">{% csrf_token %}
   
    <table>
        {{ form.as_table }}
    </table>
    <input type="submit" value="Editar">

    </form>
    {{ mensaje }}
{% endblock %}